td.details-control {
    background: url('/DroidMate/resources/css/explore/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/DroidMate/resources/css/explore/images/details_close.png') no-repeat center center;
}

.apk-info-min-container {
}

.apk-chart-min {
	float: left;
	height: 250px;
	width:  33%;
}

#console-output {
	margin-top: 50px;
}

#console-output .panel-heading {
	overflow: auto;
}

#console-output .console-cb {
	float:right;
	margin-top:0; 
	margin-bottom:0;
	 font-weight: normal !important; 
}