td.details-control {
    background: url('/DroidMate/resources/css/explore/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/DroidMate/resources/css/explore/images/details_close.png') no-repeat center center;
}

.apk-info-min-container {
}

.apk-chart-min {
	float: left;
	height: 250px;
	width:  33%;
}

#console-output {
	margin-top: 50px;
}

#console-output .panel-heading {
	overflow: auto;
}

#console-output .console-cb {
	float:right;
	margin-top:0; 
	margin-bottom:0;
	 font-weight: normal !important; 
}

#console-output .console-cb .scroll-text {
	margin: 10px;
}

#console-output .console-cb input[type=checkbox] {
	vertical-align: middle;
	margin-top: 0; !important
}

#legend {
	margin: 3em;
	padding: 0.5em;
	border: 2px solid #C5D8E1; 
	border-radius: 6px;
}

#legend legend {
    color: #000;
    padding: 1px 1px ;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #ddd;
    margin-left: 20px;
}

#apks-charts-legend {
   overflow:hidden;
   
}
#apks-charts-legend label {
	float:left;
	 width: 33%;
}
#apks-charts-legend label input[type=checkbox] {
   display:inline-block;
    margin:-1px 4px 0 0;
    vertical-align:middle;
}