<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="testing" class="btn" >Browse...</a>
    <div id="text"></div>
  </body>
  <script>
    window.addEventListener("load", function() {
      var label = document.getElementById("text");
      var source;

      function connect() {
        source = new EventSource("testing");
        source.addEventListener("message", function(event) {
          label.innerHTML += event.data;
        }, false);

        source.addEventListener("connecttime", function(event) {
          label.innerHTML += "Connection was last established at: " + event.data;
        }, false);

        source.addEventListener("error", function(event) {
          if (event.target.readyState === EventSource.CLOSED) {
            source.close();
            label.innerHTML += "Connection closed!";
          } else if (event.target.readyState === EventSource.CONNECTING) {
            label.innerHTML += "Connection closed. Attempting to reconnect!";
          } else {
            label.innerHTML += "Connection closed. Unknown error!";
          }
        }, false);
      }

      if (!!window.EventSource) {
        connect();
      } else {
        label.innerHTML = "Sorry, your browser doesn't support server-sent events";
      }
    }, false);
  </script>
</html>
