<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="testing" class="btn" >Browse...</a>
    <pre id="info"></pre>
    <h3>Standard-Output:</h3>
    <code id="stdout"></code>
    <h3>Error-Output:</h3>
    <code id="stderr"></code>
  </body>
  <script>
    window.addEventListener("load", function() {
      var label = document.getElementById("info");
      var stdoutLabel = document.getElementById("stdout");
      var stderrLabel = document.getElementById("stderr");
      var source;

      function connect() {
        source = new EventSource("testing");
        source.addEventListener("message", function(event) {
          if(event.data != null && event.data != '') {
            label.innerHTML += event.data + '<br>';
          }
        }, false);
        source.addEventListener("stderr", function(event) {
          stderrLabel.innerHTML += event.data + '<br>';
        }, false);
        source.addEventListener("stdout", function(event) {
          stdoutLabel.innerHTML += event.data + '<br>';
        }, false);

        source.addEventListener("error", function(event) {
          if (event.target.readyState === EventSource.CLOSED) {
            source.close();
            label.innerHTML += "Connection closed!";
          } else if (event.target.readyState === EventSource.CONNECTING) {
            label.innerHTML += "Connection closed. Attempting to reconnect!";
          } else {
            label.innerHTML += "Connection closed. Unknown error!";
          }
        }, false);
      }

      if (!!window.EventSource) {
        connect();
      } else {
        label.innerHTML = "Sorry, your browser doesn't support server-sent events";
      }
    }, false);
  </script>
</html>
