body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.form-signin {
 margin-top: 200px;
}
body { margin: 0 auto; top:10%; color: black!important;}

#mainform {
    width: 50%;
    height: 25px;
    margin: 20px auto;
    display: block;
}

#mainform #folder {
    width:80%;
    display: block;
    float:left;
}

#mainform #selectfolder {
width:20%;
    float:right;
}

main {
    margin-bottom:100px;
}

.progressbar {
    margin-top:50px;
}

#buttonNavExploration {
    margin: 10px 0 50px 0;
}