body {
	padding-top: 60px;
	min-height: 100%;
}

body .container {
	width: 90%; !important	
}

.main-heading {
	padding-bottom: 60px; !important
}

.main_start, .folder-select {
	padding-top:30px;
}

.apk-data {
	padding-top:30px;
	padding-bottom:30px;
}

main {
	    padding-bottom: 100px;
	    position: relative;
}

footer {
	width:100%;
	height:100px;
	bottom:0;
	left:0;
}

input#folder_name {
    cursor: default;
}

.bottom-navi {
	padding-top:10em;	
}

.input-row {
	padding-top: 1em;
}

.button-settings-container #button-settings {
	position: absolute;
	top: 2em;
	right: 2em;
	z-index: 2;
}

#droidMate-alert-container {
	left:50%;
	top: 2%;
	position: absolute;
}

#droidMate-alert-container .alert{
	position: relative;
    z-index: 2;
    left: -50%;
}

/*scrollbars for dialogs*/
.file-dialog  .modal-dialog .modal-body {
    max-height:calc(100vh - 150px);
    overflow-y:auto;
    overflow-x:auto;
    white-space:pre;
    font-family:monospace;
    height: 70%;
}

/* explore navi */
#div-exploration-bottom-navi {
	margin-top: 2em;
}

/* explore loading indicator container*/
#div-droidmate-starting-indicator-container {
	height: 200px;
}

#div-droidmate-starting-indicator-container #div-starting-indicator{
	position: relative;
	height: 100px;
}

/* explore table images */
td.details-control {
    background: url('/DroidMate/resources/css/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/DroidMate/resources/css/images/details_close.png') no-repeat center center;
}

/* explore charts */
.apk-chart-min {
	float: left;
	height: 250px;
	width:  33%;
}

/* explore console output */
#div-console-output {
	margin-top: 50px;
}

#div-console-output .panel-heading {
	overflow: auto;
}

#div-console-output .console-cb {
	float:right;
	margin-top:0; 
	margin-bottom:0;
	 font-weight: normal !important; 
}

#div-console-output .console-cb .scroll-text {
	margin: 10px;
}

#div-console-output .console-cb input[type=checkbox] {
	vertical-align: middle;
	margin-top: 0; !important
}

/* ExplorationCharts*/
#legend {
	margin: 3em;
	padding: 0.5em;
	border: 2px solid #C5D8E1; 
	border-radius: 6px;
}

#legend legend {
    color: #000;
    padding: 1px 1px ;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #ddd;
    margin-left: 20px;
}

#apks-charts-legend {
   overflow:hidden;
   
}
#apks-charts-legend label {
	float:left;
	 width: 33%;
}
#apks-charts-legend label input[type=checkbox] {
   display:inline-block;
    margin:-1px 4px 0 0;
    vertical-align:middle;
}

/* dialogs */
.file-size-dialog .dialog-container {
	margin: 0 auto;
}